@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Permanent+Marker&display=swap');
/* 'Oswald' and 'Permanent Marker' */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

:root {
    --card-shadow: 0 1px 2.2px rgba(76, 119, 72, 0.2),
    0 2.5px 5.3px rgba(76, 119, 72, 0.028),
    0 4.6px 10px rgba(76, 119, 72, 0.035),
    0 8.3px 17.9px rgba(76, 119, 72, 0.042),
    0 15.5px 33.4px rgba(76, 119, 72, 0.05),
    0 37px 80px rgba(76, 119, 72, 0.07),
    inset 0.05em 0.05em 0.05em 0em rgb(255 255 255 / 0.3),
    inset 0.01em 0.01em 1em 0em rgb(255 255 255 / 0.3),
    inset -0.01em -0.01em 0.01em 0em rgb(255 255 255 / 0.3);

    --logo-blue: #07647b;
    --logo-dk-blue: #073542;
    --logo-peach: #ffb9ab;
    --leaf-green: #4a9c5a;
    --bg-blue: #38a3e0;

    --text-font-color: hsl(132, 36%, 20%);


}

/* COMMON STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* keep overflow-y available for sound
but stop scrollbar from appearing */
/* ::-webkit-scrollbar {
    width: 0;
}
@supports (scrollbar-width:none) {
    * {
        scrollbar-width: none;
    }
} */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem; 
    text-align: center;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', system-ui, sans-serif;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    color: var(--text-font-color);
}

.background {
    position: fixed;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 5vw;
    top: 0;
    background: linear-gradient(rgb(255 255 255 / 0.8), transparent);
    z-index: 100;
}

header h2 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.1rem;
    opacity: 0.7;
}

/* LOGO */
.logo {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.8em;
    cursor: default;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    transition: 150ms ease;
    -webkit-transition: 150ms ease;
    -moz-transition: 150ms ease;
    -ms-transition: 150ms ease;
    -o-transition: 150ms ease;
}

.logo img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo p {
    font-family: 'Oswald', system-ui, sans-serif;
    color:var(--logo-peach);
    font-weight: 400;
    font-size: 1rem;
    text-shadow: 0.05rem 0.05rem 0.09rem #000;
    filter: drop-shadow(0 0 0.2rem rgb(255 255 255 / 0.9));
    -webkit-filter: drop-shadow(0 0 0.2rem rgb(255 255 255 / 0.9));
}

.logo:focus,
.logo:hover {
    opacity: 1;
    scale: 1.05;
    filter: drop-shadow(0 0 0.3rem rgb(255 255 255 / 0.9));
    -webkit-filter: drop-shadow(0 0 0.3rem rgb(255 255 255 / 0.9));
}

/* volume control */
.volume-info {
    display: flex;
    justify-content: space-between;
}

.volume-container label {
    font-family: 'Oswald', system-ui, sans-serif;
    text-shadow: 0.1rem 0.1rem 0.15rem rgb(255 255 255 / 0.5);
}

.volume-slider {
    max-width: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    padding: 0.2rem;
}

/* remove default styles and then restyle slider input */
.volume-slider .volume-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 0.4em;
    outline: none;
    background: rgb(4, 32, 1);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    box-shadow: 0.1rem 0.1rem 0.15rem var(--leaf-green),
    inset 0.1rem 0.1rem 0.15rem var(--leaf-green);
}

/* remove default styles and restyle input thumb so you can't see it (but it's still there and working) */
.volume-slider .volume-input::-moz-range-thumb,
.volume-slider .volume-input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2rem;
    height: 2em;
    cursor: pointer;
    z-index: 3;
    position: relative;
    background: transparent;
    border: none;
}

/* put your new fake thumb over it, styled */
.volume-slider .volume-thumb {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: none;
    background: transparent;
    z-index: 2;
    top: -40%;
    left: 10%;
    box-shadow: 0.15rem 0.15rem 0.15rem rgb(255 255 255 / 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: none;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.volume-thumb i {
    pointer-events: none;
    color:rgb(24, 77, 19);
}

/* display number value above the thumb */
.value-display {
    color: var(--text-font-color);
    font-family: 'Roboto';
    font-size: 0.8rem;
    text-align: center;
    display: grid;
    place-items:center;
    height: 1.2rem;
    width: 1.5rem;
    background: linear-gradient(to bottom right, #6eea87, #3a7a47);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    box-shadow: 0.1rem 0.1rem 0.15rem var(--text-font-color);
    cursor: default;
}

.progress-bar {
    position: absolute;
    background: linear-gradient(to bottom right, #3fed61, #167529);
    width: 10%;
    height: .4em;
    top: 30%;
    left: 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


/* USER RESET ICON */
.reset-button {
    border: none;
    background-color: transparent;
}
.reset-button i {
    z-index: 10;
    font-size: 1.2rem;
    padding: 0.5em .7rem;
    color:rgb(28, 76, 23);
    opacity: 0.7;
    cursor: pointer;
    border: 2px solid rgb(28, 76, 23);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 100ms ease;
    -webkit-transition: 100ms ease;
    -moz-transition: 100ms ease;
    -ms-transition: 100ms ease;
    -o-transition: 100ms ease;
}

.reset-button p {
    font-style: italic;
    color: var(--text-font-color);
    opacity: 0.8;
    font-size: 0.8rem;
}

.reset-button:focus,
.reset-button:active,
.reset-button:hover  {
    opacity: 1;
    scale: 1.05;
    filter: drop-shadow(0 0 0.2rem rgb(255 255 255 / 0.5));
    -webkit-filter: drop-shadow(0 0 0.2rem rgb(255 255 255 / 0.5));
}
.reset-button i:hover, 
.reset-button i:focus,
.reset-button i:active {
    opacity: 1;
    border: 2px solid red;
    color: rgb(214, 41, 41);
    scale: 1.05;
    filter: drop-shadow(0 0 0.2rem rgb(255 255 255 / 0.5));
    -webkit-filter: drop-shadow(0 0 0.2rem rgb(255 255 255 / 0.5));
}

/* MAIN AREA */
main {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 1em;
    padding: 1em 0.8em 2em 0.8em;
    border: 0.5px solid rgb(255 255 255 / 0.15);
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Permanent Marker', cursive;  
    font-size: 1.5rem;
    /* margin-bottom: 1em; */
    padding: 0.5em 1em;
    text-shadow: 0.1rem 0.1rem 0.2rem hsla(202, 73%, 95%, 0.5); 
    cursor: default;
    text-decoration: underline;
}

/* MODALS FOR ENTERING NAME AND RESET USER */

.user-name-modal,
.reset-modal {
    display: flex;
    margin: auto;
    background:rgba(255, 255, 255, 0.5) url(./leaf-bg/bg-noleaf.jpg);
    border: none;
    border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -ms-border-radius: 0.9em;
    -o-border-radius: 0.9em;
    padding: 3em;
    z-index: 500;
    cursor: default;
}

.user-name-modal {
    border: 10px ridge rgb(76, 119, 72)
}

.reset-modal {
    flex-direction: column;
    align-items: center;
    padding: 1vw 2vw 2vw 2vw;
    gap: 1em;
    font-family: 'Poppins', system-ui, sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
    border: 2px solid rgb(164, 31, 31);
}

.reset-modal p:nth-of-type(2) {
    font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
    line-height: 130%;
}

.warning {
    color: rgb(232, 17, 17, 0.8);
    font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
    aspect-ratio: 1;
    padding: .5rem 1rem;
    background: radial-gradient(rgb(199, 173, 173), rgba(191, 105, 105, 0.8), rgb(164 31 31 / 0.8));
    border: 2px solid rgb(241, 5, 5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.reset-modal:not([open]) {
    display: none;
}
.user-name-modal:not([open]) {
    display: none;
}

.reset-modal::backdrop,
.user-name-modal::backdrop {
    background: radial-gradient(rgba(234, 238, 234, 0.8), rgb(255 255 255 / 0.8));    
}

.name-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.name-form p {
    /* color: #000; */
    font-size: clamp(1rem, 0.5rem + 1vw, 1.4rem);
    text-align: center;
}

.name-input {
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),    inset -1px -1px 1px 0px rgba(69, 96, 66, 0.5),    7px 7px 20px 0px rgba(0,0,0,.1),    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transform-origin: right;
    cursor: pointer;
    transform-origin: center;
}

.reset-no,
.name-button {
    font-family: inherit;
    background: linear-gradient(315deg, rgba(106, 161, 100, 0.5), rgba(117, 202, 110, 0.5));
    /* color: #333; */
}

.reset-yes {
    font-family: inherit;
    background: linear-gradient(315deg, rgb(164 31 31 / 0.8), rgb(164 31 31 / 0.3), rgb(164 31 31 / 0.8));
    color: rgb(53, 4, 4);
    border:2px solid rgb(192, 20, 20);
    text-transform: uppercase;
}

.reset-no span {
    font-size: 0.8rem;
}

.reset-yes,
.reset-no {
    line-height: 120%;
    font-weight: 500;
    width: 50%;
    text-shadow: 0.05rem 0.05rem 0.12rem rgb(255 255 255 / 0.8);
}

.reset-yes:hover,
.reset-yes:focus {
    background: linear-gradient(315deg, rgba(232, 17, 17, 0.8), rgba(191, 15, 15, 0.8));
    color: white;
    border:2px solid rgb(239, 21, 21);
    scale:1.1;
    text-shadow: 0.05rem 0.05rem 0.12rem rgb(255 255 255 / 0.3);
}

.reset-no:hover,
.reset-no:focus,
.name-button:hover,
.name-button:focus {
    background: linear-gradient(315deg, rgba(142, 219, 228, 0.7), rgba(107, 230, 96, 0.8), rgba(142, 219, 228, 0.7));
    scale: 1.05;
}

.reset-no:active,
.reset-yes:active,
.name-button:active {
    box-shadow:inset 2px 2px 20px 0px rgba(255,255,255,.1),    inset -1px -1px 1px 0px rgba(69, 96, 66, 0.1),  -1px -1px 1px 0px rgba(0,0,0,.1),  1px 1px 2px 1px rgba(0,0,0,.1),    1px 1px 2px 0px rgba(0,0,0,.1);

}

/* TODO LIST AREA */
.input {
    /* width: 16rem; */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.8em;
    border: 0.5em groove rgb(115, 161, 110);
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(80, 125, 76, 0.5);
}

.input:active,
.input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    scale: 1.1;
    box-shadow: 0.5rem 0.5rem 0.9rem 0.3rem rgb(76 119 72 / 0.6),
    0.05rem 0.05rem 0.08rem 0.02rem rgb(255 255 255 / 0.8);
    outline: none;
}

ul {
    list-style: none;
}

.todo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.todo-div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: left;
    gap: 0.8rem;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
}

.todo-item {
    font-family: 'Roboto', sans-serif;
    line-height: 180%;
    font-size: clamp(0.7rem, 0.2rem + 1vw, 1rem);
    margin-right: 1rem;
    text-shadow: 0.1rem 0.1rem 0.15rem hsla(202, 73%, 95%, 0.5); 
}

.complete-btn,
.delete-btn {
    font-size: clamp(0.5rem, 0.2rem + 1vw, 0.8rem);
    color:rgb(96, 134, 91);
    padding: 0.2rem 0.3rem;
    background: radial-gradient(rgb(255 255 255 / 0.5), transparent);
    border: 1px solid rgb(115, 161, 110);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
}

.complete-btn:hover,
.delete-btn:hover,
.complete-btn:focus,
.delete-btn:focus {
    color: rgb(76, 119, 72);
    padding: 0.2rem 0.35rem;
    background: radial-gradient(rgb(255 255 255 / 0.8), transparent);
    border: 1px solid rgb(76, 119, 72);
    scale: 1.1;
}

.complete-btn:active,
.delete-btn:active {
    color:rgb(96, 134, 91);
    padding: 0.2rem 0.35rem;
    background: radial-gradient(rgb(255 255 255 / 0.5), transparent);
    border: 1px solid rgb(115, 161, 110);
    scale: 0.8;
}

form {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.todo-button {
    padding: 0.3rem 0.4rem;
    font-size: 1.4rem;
    color:rgb(76, 119, 72);
    background: transparent;
    border: none;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    text-shadow: 0.1rem 0.1rem 0.15rem rgba(147, 231, 139, 0.7);
    cursor: pointer;
}

.todo-button:hover,
.todo-button:focus {
    color: rgb(96, 134, 91);
    scale: 1.5;
    text-shadow: 0.5rem 0.5rem 0.8rem rgb(76 119 72 / 0.5),
    0.05rem 0.05rem 0.1rem rgb(255 255 255 / 0.8);
    -webkit-text-stroke: 1px 0 rgb(255 255 255 / 0.3);
    -moz-text-stroke: 1px 0 rgb(255 255 255 / 0.3);
 
}

.todo-button:active {
    color: rgb(96, 134, 91);
    scale: 1.2;
    text-shadow: 0.5rem 0.5rem 0.5rem rgb(76 119 72 / 0.8),
    0.05rem 0.05rem 0.1rem rgb(255 255 255 / 0.2);
    background: radial-gradient(rgb(255 255 255 / 0.5), transparent 80%);
}

.complete-btn.compd {
    color:rgb(36 51 34 / 0.8);
    border: none;
    background: none;
}
.todo-div.completed {
    text-decoration: line-through;
    color: #333;
    opacity: 0.5;
    scale: 0.8;
}

/* ANIMATION, INTERACTION */
.fall {
    transform: translateY(0vh) rotate(0);
    opacity: 1;
    animation: falling 3s ease-in-out forwards;
    -webkit-animation: falling 3s ease-in-out forwards;
    -webkit-transform: translateY(0vh) rotate(0);
    -moz-transform: translateY(0vh) rotate(0);
    -ms-transform: translateY(0vh) rotate(0);
    -o-transform: translateY(0vh) rotate(0);
}

@keyframes falling {
    0% {
        opacity: 1;
        transform: translateY(0vh);
        -webkit-transform: translateY(0vh);
        -moz-transform: translateY(0vh);
        -ms-transform: translateY(0vh);
        -o-transform: translateY(0vh);
}
    3% {
        opacity: 1;
        transform: translateY(0.5vh) rotate(-8deg);
        -webkit-transform: translateY(0.5vh) rotate(-8deg);
        -moz-transform: translateY(0.5vh) rotate(-8deg);
        -ms-transform: translateY(0.5vh) rotate(-8deg);
        -o-transform: translateY(0.5vh) rotate(-8deg);
}
    7% {
        opacity: 1;
        transform: translateY(-3vh) rotate(-5deg);
        -webkit-transform: translateY(-3vh) rotate(-5deg);
        -moz-transform: translateY(-3vh) rotate(-5deg);
        -ms-transform: translateY(-3vh) rotate(-5deg);
        -o-transform: translateY(-3vh) rotate(-5deg);
}
    100% {
        opacity: 0;
        transform: translateY(100vh) rotate(90deg);
        -webkit-transform: translateY(100vh) rotate(90deg);
        -moz-transform: translateY(100vh) rotate(90deg);
        -ms-transform: translateY(100vh) rotate(90deg);
        -o-transform: translateY(100vh) rotate(90deg);
}
}

.select-container {
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', system-ui, sans-serif;
    text-shadow: 0.1rem 0.1rem 0.15rem rgb(255 255 255 / 0.5);
    /* color: #333; */
}

.select-container span {
    font-size: 1.2rem;
}

.list-length-p {
    letter-spacing: 0.02rem;
    padding: 0.2rem 1rem;
    border-radius: 25rem;
    -webkit-border-radius: 25rem;
    -moz-border-radius: 25rem;
    -ms-border-radius: 25rem;
    -o-border-radius: 25rem;
}

.select-detail select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    text-transform: uppercase;
    /* color: #555; */
    width: 10rem;
    outline: none;
    border: 1px solid rgb(255 255 255 / 0.2);
    cursor: pointer;
    font-family: 'Roboto', cursive;
    font-size: 0.8rem;
    padding: 0.25rem 1rem;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    opacity: 0.8;
}

.select-detail {
    position: relative;
    overflow: hidden;
}

.select-detail label {
    font-size: 0.9rem;
}

/* drop-down arrow */
.select-detail::after {
    content: '\25BC';
    position: absolute;
    pointer-events: none;
    text-align: center;
    font-size: 1.1rem;
    color:rgba(59, 83, 57, 0.9);
    line-height: 2rem;
    height: 100%;
    width: 2rem;
    background: radial-gradient(rgb(255 255 255 / 0.8), transparent);
    top: 0;
    right: 0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-left: 1px solid rgb(255 255 255 / 0.3);
}

.filter-option {
    font-family: 'Roboto', sans-serif;
}

/* FOOTER */
footer {
    line-height: 120%;
    font-family: 'Oswald', system-ui, sans-serif;
    width: 100%;
    position: absolute;
    align-self: flex-end;
    font-size: 1rem;
    text-align: center;
    padding-right: 1.5em;
    padding-bottom: 0.7em;
    cursor: default;
    opacity: .8;
}

footer p span {
    font-family: 'Permanent Marker', sans-serif;
    /* color: #333; */
    opacity: 0.9;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1001px) {
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header .reset-button i {
        border: 2px solid rgb(152, 79, 79);
        color: rgb(127, 69, 69);
        opacity: 0.7
    }
    .warning {
        font-size: 2rem;
    }
    .reset-modal {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .todo-list {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        text-align: center;
    }
    
}

@media only screen and (max-width: 550px) {
    header {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
    .logo {
        flex-direction: column;
        gap: 0;
        grid-column: 1 / span 1;
    }
    .logo img {
        width: 10vw;
        height: 10vw;
    }
    .logo p {
        font-size: 0.8rem;
    }
    
    header h2 {
        grid-column: 2 / span 2;
        font-size: 0.8rem;
    }

    .volume-slider {
        margin-left: 1em;
    }
    .volume-slider label {
        left: 0%;
        top: 100%;
    }

    .reset-button i {
        font-size: .8rem;
        padding: 0.2em .25rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

