/* animated background styles */
body {
    background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url("leafbg.jpg") no-repeat 80% 40%;
    background: url(./leaf-bg/bg-noleaf.jpg) no-repeat 80% 40%;
    background-size: cover;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.top-branch-leaves {
    position: relative;
    width: 100vw;
    height: max-content;
    top: 0;
    left: 0;
    transform-origin: 95% -10%;
    perspective: 500px;
    animation: branch 20s ease-in-out;
    -webkit-animation: branch 30s ease-in-out infinite;
}

.top-branch {
    position: absolute;
    width: 80vw;
    height: max-content;
    top: -3.3vw;
    left: 20vw;
}

.leaf {
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;    
}

#top-twig {
    z-index: -2;
    width: 2.1vw;
    top: 10vw;
    left: 42.2vw;
}

#leaf1 {
    opacity: 0.9;
    width: 12.2vw;
    top: 3.05vw;
    left: 10.1vw;
    transform-origin: right 60%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 1s;
}

#leaf2 {    
    width: 10.5vw;
    top: 7.6vw;
    left: 12vw;
    transform-origin: right top;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 6s;
}
#leaf3 {
    width: 11vw;
    top: 6.5vw;
    left: 20vw;
    transform-origin: 20% 10%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 2s;
}
#leaf4 {
    width: 7.5vw;
    top: -2.3vw;
    left: 21.4vw;
    transform-origin: bottom right;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 2.8s;
}
#leaf5 {
    width: 8.8vw;
    top: 5.7vw;
    left: 23.5vw;
    transform-origin: 55% 8%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 4s;
}
#leaf6 {
    width: 8vw;
    top: -2.6vw;
    left: 31vw;
    transform-origin: 68% bottom;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 6s;
}
#leaf7 {
    opacity: 0.9;
    width: 8vw;
    top: 5.3vw;
    left: 30.2vw;
    transform-origin: 75% 10%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 4.5s;
}
#leaf8 {
    width: 18vw;
    top: -0.9vw;
    left: 34.5vw;
    transform-origin: 98% 44%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 0.8s;
}
#leaf9 {
    z-index: -1;
    width: 12vw;
    top: 5.1vw;
    left: 32vw;
    transform-origin: right 40%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 2.3s;
}
#leaf10 {
    width: 11vw;
    top: 11.28vw;
    left: 33.6vw;
    transform-origin: 98% 2%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 2.5s;
}
#leaf11 {
    opacity: 0.9;
    width: 10vw;
    top: 4vw;
    left: 45vw;
    transform-origin: 65% 4%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 1.2s;
}
#leaf12 {
    width: 10vw;
    top: 10.6vw;
    left: 43.7vw;
    transform-origin: left 20%;
    z-index: -1;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 3.5s;
}
#leaf13 {
    z-index: -1;
    width: 9vw;
    top: 3.2vw;
    left: 51.1vw;
    transform-origin: 90% 2%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 4.1s;
}
#leaf15 {
    width: 13vw;
    top: -2.8vw;
    left: 52.9vw;
    transform-origin: right 98%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 3.5s;
}
#leaf16 {
    width: 13vw;
    top: 5vw;
    left: 59.2vw;
    transform-origin: 98% 25%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 0.5s;
}
#leaf17 {
    width: 9.5vw;
    top: 6.2vw;
    left: 59.2vw;
    transform-origin: 60% top;
    z-index: -1;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 1.2s;
}
#leaf18 {
    width: 6.4vw;
    top: 6.7vw;
    left: 70vw;
    transform-origin: 25% 2%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 1.6s;
}
#leaf192023 {
    width: 16.5vw;
    top: -7.6vw;
    left: 63.5vw;
    transform-origin: 60% 20%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 7s;
}
#leaf212224 {
    opacity: 1;
    width: 7vw;
    top: -1vw;
    left: 75vw;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform-origin: top center;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 8s;
}
#leaf2527 {
    z-index: 3; 
    opacity: 1;
    width: 10vw;
    top: -4vw;
    left: 86vw;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform-origin: top center; 
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 6.5s;   
}
#leaf2628 {
    width: 24.5vw;
    z-index: 2;
    top: -1.75vw;
    left: 77vw;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    z-index: 1;
    transform-origin: 50% 40%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 7.5s;
}

#leafcorner {
    z-index: -10;
    width: 10vw;
    top: 2vw;
    right: 0vw;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    z-index: 1;
    transform-origin: 50% 40%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 8s;

}

/* side branch and leaves */
.side-branch-leaves {
    position: relative;
    display: grid;
    margin-left: auto;
    width: 20vw;
    height: 100%;
    top: 0;
    right: 0;
    transform-origin: 95% top;
    perspective: 500px;
    animation: branch 20s ease-in-out;
    -webkit-animation: branch 20s ease-in-out infinite;
}
.branch-container {
    position: absolute;
    top: 25vw;
    right: 0.1vw;
}

#side-branch {
    height: 38vw;
}

.side-leaves-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#leaf29 {
    opacity: 0.9;
    z-index: -1;
    width: 9vw;
    top: 6vw;
    right: 0vw;
    transform-origin: top right;
    animation-delay: 8.5s;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
}
#leaf30 {
    opacity: 0.9;
    z-index: -2;
    width: 13.6vw;
    top: 7.1vw;
    right: 4.2vw;
    transform-origin: center right;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay: 2.3s;
}
#leaf3136 {
    opacity: 0.9;
    z-index: -2;
    width: 9vw;
    top: 11vw;
    right: -1.2vw;
    transform-origin: top right;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 2.5s;

}
#leaf32 {
    opacity: 0.9;
    z-index: 1;
    width: 11.8vw;
    top: 18.1vw;
    right: 4.2vw;
    transform-origin: top right;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay: 0.4s;
}
#leaf33 {
    opacity: 0.9;
    z-index: -3;
    width: 15vw;
    top: 21vw;
    right: 2.6vw;
    transform-origin: top right;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 2.4s;
}
#leaf3435 {
    opacity: 0.9;
    width: 5.3vw;
    top: 16.2vw;
    right: -0.5vw;
    transform-origin: top right;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 6.1s;

}
#leaf3742 {
    opacity: 1;
    z-index: -2;
    width: 4.6vw;
    top: 23.1vw;
    right: 2.7vw;
    transform-origin: top right;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 7.8s;

}
#leaf38 {
    opacity: 0.9;
    z-index: -1;
    width: 9vw;
    top: 26vw;
    right: -1.6vw;
    transform-origin: top right;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 8.9s;

}
#leaf39 {
    opacity: 0.9;
    z-index: -3;
    width: 8vw;
    top: 32.6vw;
    right: 5.7vw;
    transform-origin: right 40%;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 7.9s;
}
#leaf40 {
    opacity: 0.9;
    z-index: 2;
    width: 10.5vw;
    top: 34.8vw;
    right: 0.6vw;
    transform-origin: 73% top;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay: 0.5s;
}
#leaf41 {
    opacity: 0.9;
    z-index: -1;
    width: 13.2vw;
    top: 41vw;
    right: 3.7vw;
    transform-origin: right 38%;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay:10s;
}
#leaf43 {
    opacity: 0.9;
    z-index: 1;
    width: 7vw;
    top: 38.6vw;
    right: -2.6vw;
    transform-origin: center top;
    animation-delay: 1.3s;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}
#leaf44 {
    opacity: 1;
    z-index: -3;
    width: 3.5vw;
    top: 45.4vw;
    right: 2vw;
    transform-origin: 90% top;
    animation: leafMore 30s ease-in-out infinite;
    -webkit-animation: leafMore 30s ease-in-out infinite;
    animation-delay: 2.2s;
}
#leaf45 {
    opacity: 1;
    z-index: 1;
    width: 8.1vw;
    top: 49.7vw;
    right: 3vw;
    transform-origin: right 10%;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay: 5.7s;
}
#leaf47 {
    opacity: 1;
    z-index: -2;
    width: 13vw;
    top: 53.9vw;
    right: 4.1vw;
    transform-origin: bottom right;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay: 11.6s;
}
#leaf48 {
    opacity: 1;
    z-index: -3;
    width: 3vw;
    top: 51.8vw;
    right: 0.5vw;
    transform-origin: 80% top;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 2.9s;

}
#leaf49 {
    opacity: 1;
    z-index: -2;
    width: 8.4vw;
    top: 56.6vw;
    right: -0.8vw;
    transform-origin: 52% 3%;
    animation: leaf 30s ease-in-out infinite;
    -webkit-animation: leaf 30s ease-in-out infinite;
    animation-delay: 6.1s;

}
#leaf50 {
    opacity: 0.9;
    z-index: 1;
    width: 7.2vw;
    top: 61.5vw;
    right: -0.7vw;
    transform-origin: 50% 20%;
    animation: leafMoreZ 30s ease-in-out infinite;
    -webkit-animation: leafMoreZ 30s ease-in-out infinite;
    animation-delay: 5.9s;
}

@keyframes branch {
    0%{
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
}
    4%{
        transform: rotateZ(0.3deg);
        -webkit-transform: rotateZ(0.3deg);
        -moz-transform: rotateZ(0.3deg);
        -ms-transform: rotateZ(0.3deg);
        -o-transform: rotateZ(0.3deg);
}
    8%{
        transform: rotateZ(-0.3deg);
        -webkit-transform: rotateZ(-0.3deg);
        -moz-transform: rotateZ(-0.3deg);
        -ms-transform: rotateZ(-0.3deg);
        -o-transform: rotateZ(-0.3deg);
}
    12%{
        transform: rotateZ(0.2deg);
        -webkit-transform: rotateZ(0.2deg);
        -moz-transform: rotateZ(0.2deg);
        -ms-transform: rotateZ(0.2deg);
        -o-transform: rotateZ(0.2deg);
}
    16%{
        transform: rotateZ(-0.3deg);
        -webkit-transform: rotateZ(-0.3deg);
        -moz-transform: rotateZ(-0.3deg);
        -ms-transform: rotateZ(-0.3deg);
        -o-transform: rotateZ(-0.3deg);
}
    24%{
        transform: rotateZ(0.5deg);
        -webkit-transform: rotateZ(0.5deg);
        -moz-transform: rotateZ(0.5deg);
        -ms-transform: rotateZ(0.5deg);
        -o-transform: rotateZ(0.5deg);
}
    31%{
        transform: rotateZ(-0.8deg);
        -webkit-transform: rotateZ(-0.8deg);
        -moz-transform: rotateZ(-0.8deg);
        -ms-transform: rotateZ(-0.8deg);
        -o-transform: rotateZ(-0.8deg);
}
    42%{
        transform: rotateZ(0.8deg);
        -webkit-transform: rotateZ(0.8deg);
        -moz-transform: rotateZ(0.8deg);
        -ms-transform: rotateZ(0.8deg);
        -o-transform: rotateZ(0.8deg);
}
    53%{
        transform: rotateZ(-2deg);
        -webkit-transform: rotateZ(-2deg);
        -moz-transform: rotateZ(-2deg);
        -ms-transform: rotateZ(-2deg);
        -o-transform: rotateZ(-2deg);
}
    65%{
        transform: rotateZ(1deg);
        -webkit-transform: rotateZ(1deg);
        -moz-transform: rotateZ(1deg);
        -ms-transform: rotateZ(1deg);
        -o-transform: rotateZ(1deg);
}
    78%{
        transform: rotateZ(-1.2deg);
        -webkit-transform: rotateZ(-1.2deg);
        -moz-transform: rotateZ(-1.2deg);
        -ms-transform: rotateZ(-1.2deg);
        -o-transform: rotateZ(-1.2deg);
}
    88%{
        transform: rotateZ(0.4deg);
        -webkit-transform: rotateZ(0.4deg);
        -moz-transform: rotateZ(0.4deg);
        -ms-transform: rotateZ(0.4deg);
        -o-transform: rotateZ(0.4deg);
}
    100%{
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
}
}

@keyframes leaf {
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
    4%{
        transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -webkit-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -moz-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -ms-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -o-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
}
    8%{
        transform: rotateX(-2deg) rotateY(-1deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-2deg) rotateY(-1deg) rotateZ(-1deg);
        -moz-transform: rotateX(-2deg) rotateY(-1deg) rotateZ(-1deg);
        -ms-transform: rotateX(-2deg) rotateY(-1deg) rotateZ(-1deg);
        -o-transform: rotateX(-2deg) rotateY(-1deg) rotateZ(-1deg);
}
    12%{
        transform: rotateX(3deg) rotateY(2deg) rotateZ(1deg);
        -webkit-transform: rotateX(3deg) rotateY(2deg) rotateZ(1deg);
        -moz-transform: rotateX(3deg) rotateY(2deg) rotateZ(1deg);
        -ms-transform: rotateX(3deg) rotateY(2deg) rotateZ(1deg);
        -o-transform: rotateX(3deg) rotateY(2deg) rotateZ(1deg);
}
    16%{
        transform: rotateX(-4deg) rotateY(-1deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-4deg) rotateY(-1deg) rotateZ(-1deg);
        -moz-transform: rotateX(-4deg) rotateY(-1deg) rotateZ(-1deg);
        -ms-transform: rotateX(-4deg) rotateY(-1deg) rotateZ(-1deg);
        -o-transform: rotateX(-4deg) rotateY(-1deg) rotateZ(-1deg);
}
    24%{
        transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -webkit-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -moz-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -ms-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
        -o-transform: rotateX(2deg) rotateY(1deg) rotateZ(1deg);
}
    31%{
        transform: rotateX(-3deg) rotateY(-2deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-3deg) rotateY(-2deg) rotateZ(-1deg);
        -moz-transform: rotateX(-3deg) rotateY(-2deg) rotateZ(-1deg);
        -ms-transform: rotateX(-3deg) rotateY(-2deg) rotateZ(-1deg);
        -o-transform: rotateX(-3deg) rotateY(-2deg) rotateZ(-1deg);
}
    42%{
        transform: rotateX(2deg) rotateY(3deg) rotateZ(2deg);
        -webkit-transform: rotateX(2deg) rotateY(3deg) rotateZ(2deg);
        -moz-transform: rotateX(2deg) rotateY(3deg) rotateZ(2deg);
        -ms-transform: rotateX(2deg) rotateY(3deg) rotateZ(2deg);
        -o-transform: rotateX(2deg) rotateY(3deg) rotateZ(2deg);
}
    53%{
        transform: rotateX(-7deg) rotateY(-4deg) rotateZ(-4deg);
        -webkit-transform: rotateX(-7deg) rotateY(-4deg) rotateZ(-4deg);
        -moz-transform: rotateX(-7deg) rotateY(-4deg) rotateZ(-4deg);
        -ms-transform: rotateX(-7deg) rotateY(-4deg) rotateZ(-4deg);
        -o-transform: rotateX(-7deg) rotateY(-4deg) rotateZ(-4deg);
}
    65%{
        transform: rotateX(8deg) rotateY(3deg) rotateZ(2deg);
        -webkit-transform: rotateX(8deg) rotateY(3deg) rotateZ(2deg);
        -moz-transform: rotateX(8deg) rotateY(3deg) rotateZ(2deg);
        -ms-transform: rotateX(8deg) rotateY(3deg) rotateZ(2deg);
        -o-transform: rotateX(8deg) rotateY(3deg) rotateZ(2deg);
}
    78%{
        transform: rotateX(-3deg) rotateY(-3deg) rotateZ(-2deg);
        -webkit-transform: rotateX(-3deg) rotateY(-3deg) rotateZ(-2deg);
        -moz-transform: rotateX(-3deg) rotateY(-3deg) rotateZ(-2deg);
        -ms-transform: rotateX(-3deg) rotateY(-3deg) rotateZ(-2deg);
        -o-transform: rotateX(-3deg) rotateY(-3deg) rotateZ(-2deg);
}
    88%{
        transform: rotateX(1deg) rotateY(2deg) rotateZ(1deg);
        -webkit-transform: rotateX(1deg) rotateY(2deg) rotateZ(1deg);
        -moz-transform: rotateX(1deg) rotateY(2deg) rotateZ(1deg);
        -ms-transform: rotateX(1deg) rotateY(2deg) rotateZ(1deg);
        -o-transform: rotateX(1deg) rotateY(2deg) rotateZ(1deg);
}
    100%{
        transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
}
}
@keyframes leafMore {
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
    4%{
        transform: rotateX(8deg) rotateY(2deg) rotateZ(1deg);
        -webkit-transform: rotateX(8deg) rotateY(2deg) rotateZ(1deg);
        -moz-transform: rotateX(8deg) rotateY(2deg) rotateZ(1deg);
        -ms-transform: rotateX(8deg) rotateY(2deg) rotateZ(1deg);
        -o-transform: rotateX(8deg) rotateY(2deg) rotateZ(1deg);
}
    8%{
        transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-1deg);
        -moz-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-1deg);
        -ms-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-1deg);
        -o-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-1deg);
}
    12%{
        transform: rotateX(6deg) rotateY(4deg) rotateZ(1deg);
        -webkit-transform: rotateX(6deg) rotateY(4deg) rotateZ(1deg);
        -moz-transform: rotateX(6deg) rotateY(4deg) rotateZ(1deg);
        -ms-transform: rotateX(6deg) rotateY(4deg) rotateZ(1deg);
        -o-transform: rotateX(6deg) rotateY(4deg) rotateZ(1deg);
}
    16%{
        transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-1deg);
        -moz-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-1deg);
        -ms-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-1deg);
        -o-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-1deg);
}
    24%{
        transform: rotateX(4deg) rotateY(1deg) rotateZ(1deg);
        -webkit-transform: rotateX(4deg) rotateY(1deg) rotateZ(1deg);
        -moz-transform: rotateX(4deg) rotateY(1deg) rotateZ(1deg);
        -ms-transform: rotateX(4deg) rotateY(1deg) rotateZ(1deg);
        -o-transform: rotateX(4deg) rotateY(1deg) rotateZ(1deg);
}
    31%{
        transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-1deg);
        -moz-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-1deg);
        -ms-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-1deg);
        -o-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-1deg);
}
    42%{
        transform: rotateX(9deg) rotateY(3deg) rotateZ(1deg);
        -webkit-transform: rotateX(9deg) rotateY(3deg) rotateZ(1deg);
        -moz-transform: rotateX(9deg) rotateY(3deg) rotateZ(1deg);
        -ms-transform: rotateX(9deg) rotateY(3deg) rotateZ(1deg);
        -o-transform: rotateX(9deg) rotateY(3deg) rotateZ(1deg);
}
    53%{
        transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-2deg);
        -webkit-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-2deg);
        -moz-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-2deg);
        -ms-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-2deg);
        -o-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-2deg);
}
    65%{
        transform: rotateX(15deg) rotateY(6deg) rotateZ(2deg);
        -webkit-transform: rotateX(15deg) rotateY(6deg) rotateZ(2deg);
        -moz-transform: rotateX(15deg) rotateY(6deg) rotateZ(2deg);
        -ms-transform: rotateX(15deg) rotateY(6deg) rotateZ(2deg);
        -o-transform: rotateX(15deg) rotateY(6deg) rotateZ(2deg);
}
    78%{
        transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-1deg);
        -webkit-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-1deg);
        -moz-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-1deg);
        -ms-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-1deg);
        -o-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-1deg);
}
    88%{
        transform: rotateX(4deg) rotateY(2deg) rotateZ(1deg);
        -webkit-transform: rotateX(4deg) rotateY(2deg) rotateZ(1deg);
        -moz-transform: rotateX(4deg) rotateY(2deg) rotateZ(1deg);
        -ms-transform: rotateX(4deg) rotateY(2deg) rotateZ(1deg);
        -o-transform: rotateX(4deg) rotateY(2deg) rotateZ(1deg);
}
    100%{
        transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
}
}
@keyframes leafMoreZ {
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
    4%{
        transform: rotateX(8deg) rotateY(2deg) rotateZ(2deg);
        -webkit-transform: rotateX(8deg) rotateY(2deg) rotateZ(2deg);
        -moz-transform: rotateX(8deg) rotateY(2deg) rotateZ(2deg);
        -ms-transform: rotateX(8deg) rotateY(2deg) rotateZ(2deg);
        -o-transform: rotateX(8deg) rotateY(2deg) rotateZ(2deg);
}
    8%{
        transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-8deg);
        -webkit-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-8deg);
        -moz-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-8deg);
        -ms-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-8deg);
        -o-transform: rotateX(-8deg) rotateY(-2deg) rotateZ(-8deg);
}
    12%{
        transform: rotateX(6deg) rotateY(4deg) rotateZ(4deg);
        -webkit-transform: rotateX(6deg) rotateY(4deg) rotateZ(4deg);
        -moz-transform: rotateX(6deg) rotateY(4deg) rotateZ(4deg);
        -ms-transform: rotateX(6deg) rotateY(4deg) rotateZ(4deg);
        -o-transform: rotateX(6deg) rotateY(4deg) rotateZ(4deg);
}
    16%{
        transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-5deg);
        -webkit-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-5deg);
        -moz-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-5deg);
        -ms-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-5deg);
        -o-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(-5deg);
}
    24%{
        transform: rotateX(4deg) rotateY(1deg) rotateZ(4deg);
        -webkit-transform: rotateX(4deg) rotateY(1deg) rotateZ(4deg);
        -moz-transform: rotateX(4deg) rotateY(1deg) rotateZ(4deg);
        -ms-transform: rotateX(4deg) rotateY(1deg) rotateZ(4deg);
        -o-transform: rotateX(4deg) rotateY(1deg) rotateZ(4deg);
}
    31%{
        transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-6deg);
        -webkit-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-6deg);
        -moz-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-6deg);
        -ms-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-6deg);
        -o-transform: rotateX(-10deg) rotateY(-2deg) rotateZ(-6deg);
}
    42%{
        transform: rotateX(9deg) rotateY(3deg) rotateZ(4deg);
        -webkit-transform: rotateX(9deg) rotateY(3deg) rotateZ(4deg);
        -moz-transform: rotateX(9deg) rotateY(3deg) rotateZ(4deg);
        -ms-transform: rotateX(9deg) rotateY(3deg) rotateZ(4deg);
        -o-transform: rotateX(9deg) rotateY(3deg) rotateZ(4deg);
}
    53%{
        transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-5deg);
        -webkit-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-5deg);
        -moz-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-5deg);
        -ms-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-5deg);
        -o-transform: rotateX(-18deg) rotateY(-7deg) rotateZ(-5deg);
}
    65%{
        transform: rotateX(15deg) rotateY(6deg) rotateZ(4deg);
        -webkit-transform: rotateX(15deg) rotateY(6deg) rotateZ(4deg);
        -moz-transform: rotateX(15deg) rotateY(6deg) rotateZ(4deg);
        -ms-transform: rotateX(15deg) rotateY(6deg) rotateZ(4deg);
        -o-transform: rotateX(15deg) rotateY(6deg) rotateZ(4deg);
}
    78%{
        transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-3deg);
        -webkit-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-3deg);
        -moz-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-3deg);
        -ms-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-3deg);
        -o-transform: rotateX(-10deg) rotateY(-4deg) rotateZ(-3deg);
}
    88%{
        transform: rotateX(4deg) rotateY(2deg) rotateZ(2deg);
        -webkit-transform: rotateX(4deg) rotateY(2deg) rotateZ(2deg);
        -moz-transform: rotateX(4deg) rotateY(2deg) rotateZ(2deg);
        -ms-transform: rotateX(4deg) rotateY(2deg) rotateZ(2deg);
        -o-transform: rotateX(4deg) rotateY(2deg) rotateZ(2deg);
}
    100%{
        transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg ) rotateY(0deg) rotateZ(0deg);
}
}

.shapes-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.polygon {
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    aspect-ratio: 1;
    opacity: var(--opacity);
    rotate: 0deg;
    filter: drop-shadow(var(--shadow-x) var(--shadow-y) 0vw rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(var(--shadow-x) var(--shadow-y) 0vw rgba(255, 255, 255, 0.5));
    animation: polygons 100s ease-in-out infinite;
    -webkit-animation: polygons 100s ease-in-out infinite;
    animation-delay: var(--delay);
}


@keyframes polygons {
    0% {
        opacity: calc(var(--opacity) * 1);
        top: calc(var(--top) * 1);
        left: calc(var(--left) * 1);
        width: calc(var(--width) * 1);
        rotate: 0deg;
    }
    10% {
        opacity: calc(var(--opacity) - 0.5);
        top: calc(var(--top) + 3vh);
        left: calc(var(--left) + 0vw);
        width: var(--width);
        rotate: -15deg;
    }
    20% {
        opacity: calc(var(--opacity) + 0.1);
        top: calc(var(--top) - 3vh);
        left: calc(var(--left) + 5vw);
        width: calc(var(--width) * 1.1);
        rotate: 15deg;
    }
    30% {
        opacity: calc(var(--opacity) - 0.3);
        top: calc(var(--top) + 2vh);
        left: calc(var(--left) - 2vw);
        width: calc(var(--width) * 0.8);
        rotate: -15deg;
    }
    40% {
        opacity: calc(var(--opacity) * 1);
        top: calc(var(--top) - 4vh);
        left: calc(var(--left) + 3vw);
        width: calc(var(--width) * 1);
        rotate: -5deg;
    }
    50% {
        opacity: calc(var(--opacity) - 0.5);
        top: calc(var(--top) + 2vh);
        left: calc(var(--left) - 3vw);
        width: calc(var(--width) * 0.9);
        rotate: 10deg;
    }
    60% {
        opacity: calc(var(--opacity) - 0.1);
        top: calc(var(--top) - 1vh);
        left: calc(var(--left) + 2vw);
        width: calc(var(--width) * 1.1);
        rotate: 30deg;
    }
    70% {
        opacity: calc(var(--opacity) + 0.1);
        top: calc(var(--top) + 1vh);
        left: calc(var(--left) - 1vw);
        width: calc(var(--width) * 1);
        rotate: 100deg;
    }
    80% {
        opacity: calc(var(--opacity) - 0.3);
        top: calc(var(--top) - 3vh);
        left: calc(var(--left) + 1vw);
        width: calc(var(--width) * 0.8);
        rotate: 200deg;
    }
    90% {
        opacity: calc(var(--opacity) - 0.5);
        top: calc(var(--top) + 1vh);
        left: calc(var(--left) - 2vw);
        width: calc(var(--width) * 1.1);
        rotate: 300deg;
    }
    100% {
        opacity: calc(var(--opacity) * 1);
        top: calc(var(--top) * 1);
        left: calc(var(--left) * 1);
        width: calc(var(--width) * 1);
        rotate: 360deg;
    }
}



@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

